#heading{
    color: red;
}
.container{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 100px;;
}

.nav-items>ul{
    display: flex;
}

.nav-items>ul>li{
    padding: 20px;
    margin: 10px;
}

.res-container{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.rescard-Container{
    width: 200px;
    margin: 5px;
    background-color: lightgray;
}

.res-logo{
    width: 190px;
}

.rescard-Container:hover{
    border: 1px solid black; 
    cursor: pointer;
}